<div style="text-align:center">
  
  <h1>Let's Translate!</h1>

  <select (change)="selectChangeHandler($event)" name="demo" id="#">
    <option value=" afrikaans "> afrikaans </option>
    <option value=" albanian "> albanian </option>
    <option value=" amharic "> amharic </option>
    <option value=" arabic "> arabic </option>
    <option value=" armenian "> armenian </option>
    <option value=" azerbaijani "> azerbaijani </option>
    <option value=" basque "> basque </option>
    <option value=" belarusian "> belarusian </option>
    <option value=" bengali "> bengali </option>
    <option value=" bosnian "> bosnian </option>
    <option value=" bulgarian "> bulgarian </option>
    <option value=" catalan "> catalan </option>
    <option value=" cebuano "> cebuano </option>
    <option value=" chichewa "> chichewa </option>
    <option value=" chinese (simplified) "> chinese (simplified) </option>
    <option value=" chinese (traditional) "> chinese (traditional) </option>
    <option value=" corsican "> corsican </option>
    <option value=" croatian "> croatian </option>
    <option value=" czech "> czech </option>
    <option value=" danish "> danish </option>
    <option value=" dutch "> dutch </option>
    <option value=" english "> english </option>
    <option value=" esperanto "> esperanto </option>
    <option value=" estonian "> estonian </option>
    <option value=" filipino "> filipino </option>
    <option value=" finnish "> finnish </option>
    <option value=" french "> french </option>
    <option value=" frisian "> frisian </option>
    <option value=" galician "> galician </option>
    <option value=" georgian "> georgian </option>
    <option value=" german "> german </option>
    <option value=" greek "> greek </option>
    <option value=" gujarati "> gujarati </option>
    <option value=" haitian creole "> haitian creole </option>
    <option value=" hausa "> hausa </option>
    <option value=" hawaiian "> hawaiian </option>
    <option value=" hebrew "> hebrew </option>
    <option value=" hindi "> hindi </option>
    <option value=" hmong "> hmong </option>
    <option value=" hungarian "> hungarian </option>
    <option value=" icelandic "> icelandic </option>
    <option value=" igbo "> igbo </option>
    <option value=" indonesian "> indonesian </option>
    <option value=" irish "> irish </option>
    <option value=" italian "> italian </option>
    <option value=" japanese "> japanese </option>
    <option value=" javanese "> javanese </option>
    <option value=" kannada "> kannada </option>
    <option value=" kazakh "> kazakh </option>
    <option value=" khmer "> khmer </option>
    <option value=" korean "> korean </option>
    <option value=" kurdish (kurmanji) "> kurdish (kurmanji) </option>
    <option value=" kyrgyz "> kyrgyz </option>
    <option value=" lao "> lao </option>
    <option value=" latin "> latin </option>
    <option value=" latvian "> latvian </option>
    <option value=" lithuanian "> lithuanian </option>
    <option value=" luxembourgish "> luxembourgish </option>
    <option value=" macedonian "> macedonian </option>
    <option value=" malagasy "> malagasy </option>
    <option value=" malay "> malay </option>
    <option value=" malayalam "> malayalam </option>
    <option value=" maltese "> maltese </option>
    <option value=" maori "> maori </option>
    <option value=" marathi "> marathi </option>
    <option value=" mongolian "> mongolian </option>
    <option value=" myanmar (burmese) "> myanmar (burmese) </option>
    <option value=" nepali "> nepali </option>
    <option value=" norwegian "> norwegian </option>
    <option value=" pashto "> pashto </option>
    <option value=" persian "> persian </option>
    <option value=" polish "> polish </option>
    <option value=" portuguese "> portuguese </option>
    <option value=" punjabi "> punjabi </option>
    <option value=" romanian "> romanian </option>
    <option value=" russian "> russian </option>
    <option value=" samoan "> samoan </option>
    <option value=" scots gaelic "> scots gaelic </option>
    <option value=" serbian "> serbian </option>
    <option value=" sesotho "> sesotho </option>
    <option value=" shona "> shona </option>
    <option value=" sindhi "> sindhi </option>
    <option value=" sinhala "> sinhala </option>
    <option value=" slovak "> slovak </option>
    <option value=" slovenian "> slovenian </option>
    <option value=" somali "> somali </option>
    <option value=" spanish "> spanish </option>
    <option value=" sundanese "> sundanese </option>
    <option value=" swahili "> swahili </option>
    <option value=" swedish "> swedish </option>
    <option value=" tajik "> tajik </option>
    <option value=" tamil "> tamil </option>
    <option value=" telugu "> telugu </option>
    <option value=" thai "> thai </option>
    <option value=" turkish "> turkish </option>
    <option value=" ukrainian "> ukrainian </option>
    <option value=" urdu "> urdu </option>
    <option value=" uzbek "> uzbek </option>
    <option value=" vietnamese "> vietnamese </option>
    <option value=" welsh "> welsh </option>
    <option value=" xhosa "> xhosa </option>
    <option value=" yiddish "> yiddish </option>
    <option value=" yoruba "> yoruba </option>
    <option value=" zulu "> zulu </option>
    <option value=" Filipino "> Filipino </option>
    <option value=" Hebrew "> Hebrew </option>
  </select>

  <br><br>
  
  <video hidden id="vid" width="840" height="650"></video>
  <canvas id="canvas"></canvas>
  

</div>



 