<html>
    <body>
        <h1>Welcome to TranslateAR's Translation Application!</h1> 
        <h2>By Laura Joy, Ruby, and Lizzy</h2>
        <br>
        <h3>If you want to translate the words "hi friend" to Spanish, remember this syntax: </h3>
        <h4>URL?translateTo=spanish&textToTranslate=hi+friend</h4>
        <h4>It will return the translated text.</h4>
        <button><a href="/translate?translateTo=spanish&textToTranslate=hi+friend" class="button">Translate</a></button>
    </body>
</html>

<style>
    a.button {
    text-decoration: none;
    color: initial;
}
</style>